/* Imports
----------------------------------------------------------------------- */
body {
  margin: 0;
  padding: 0; }

@media only screen and (max-width: 450px) {
  body {
    margin: 1.65em 1.75em; } }

/* Basics
--------------------------------------------------------------------------------------- */
body {
  font-size: 16px;
  line-height: 1.35em; }
  @media screen and (min-width: 660px) {
    body {
      font-size: 18px; } }
  @media screen and (min-width: 900px) {
    body {
      font-size: 20px; } }
  @media screen and (min-width: 1150px) {
    body {
      font-size: 22px; } }
  @media screen and (min-width: 1500px) {
    body {
      font-size: 24px; } }
  @media screen and (min-width: 660px) {
    body {
      line-height: 1.35em; } }
  @media screen and (min-width: 900px) {
    body {
      line-height: 1.3em; } }
  @media screen and (min-width: 1150px) {
    body {
      line-height: 1.25em; } }
  @media screen and (min-width: 1500px) {
    body {
      line-height: 1.25em; } }

a {
  color: #d66c83;
  text-decoration: none;
  border: 1px solid #d66c83;
  padding: 0 0.25em 0.06em 0.25em; }
  a:hover {
    color: black;
    border: 1px solid black; }
  a:active {
    color: white;
    border: 1px solid black;
    background: black; }

em {
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.96em;
  letter-spacing: 0.04em; }

/* Classess
--------------------------------------------------------------------------------------- */
.content-wrapper {
  padding: 2em 2.25em; }

.content p {
  font-size: 16px;
  line-height: 1.35em;
  max-width: 680px;
  margin-bottom: 1em;
  padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 1em;
  color: #d66c83; }
  @media screen and (min-width: 660px) {
    .content p {
      font-size: 18px; } }
  @media screen and (min-width: 900px) {
    .content p {
      font-size: 20px; } }
  @media screen and (min-width: 1150px) {
    .content p {
      font-size: 22px; } }
  @media screen and (min-width: 1500px) {
    .content p {
      font-size: 24px; } }
  @media screen and (min-width: 660px) {
    .content p {
      line-height: 1.35em; } }
  @media screen and (min-width: 900px) {
    .content p {
      line-height: 1.3em; } }
  @media screen and (min-width: 1150px) {
    .content p {
      line-height: 1.25em; } }
  @media screen and (min-width: 1500px) {
    .content p {
      line-height: 1.25em; } }

.signup {
  font-size: 16px;
  line-height: 1.35em;
  color: #666;
  border-top: 1px solid #ddd;
  padding-top: 1.2em;
  margin: 1.5em 0 1.5em 0; }
  @media screen and (min-width: 660px) {
    .signup {
      font-size: 18px; } }
  @media screen and (min-width: 900px) {
    .signup {
      font-size: 20px; } }
  @media screen and (min-width: 1150px) {
    .signup {
      font-size: 22px; } }
  @media screen and (min-width: 1500px) {
    .signup {
      font-size: 24px; } }
  @media screen and (min-width: 660px) {
    .signup {
      line-height: 1.35em; } }
  @media screen and (min-width: 900px) {
    .signup {
      line-height: 1.3em; } }
  @media screen and (min-width: 1150px) {
    .signup {
      line-height: 1.25em; } }
  @media screen and (min-width: 1500px) {
    .signup {
      line-height: 1.25em; } }
  .signup p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0.25em; }

input[type=email] {
  border: 1px solid #666;
  margin: 0;
  padding: 0.3em 0.5em 0.35em 0.5em;
  clear: both;
  width: 600px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: #666; }
  @media screen and (min-width: 660px) {
    input[type=email] {
      font-size: 18px; } }
  @media screen and (min-width: 900px) {
    input[type=email] {
      font-size: 20px; } }
  @media screen and (min-width: 1150px) {
    input[type=email] {
      font-size: 22px; } }
  @media screen and (min-width: 1500px) {
    input[type=email] {
      font-size: 24px; } }

input[type=email]:focus {
  background-color: #ffffd2;
  outline: none; }

input[type=submit] {
  border: 1px solid #666;
  background-color: #fff;
  margin: 0 0 0 -1px;
  padding: 0.3em 0.5em 0.35em 0.5em;
  /* clear: both; */
  /* width: 600px; */
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: #666; }
  @media screen and (min-width: 660px) {
    input[type=submit] {
      font-size: 18px; } }
  @media screen and (min-width: 900px) {
    input[type=submit] {
      font-size: 20px; } }
  @media screen and (min-width: 1150px) {
    input[type=submit] {
      font-size: 22px; } }
  @media screen and (min-width: 1500px) {
    input[type=submit] {
      font-size: 24px; } }

input[name="subscribe"]:hover {
  background-color: #666;
  color: #fff; }

.mc-field-group {
  display: block;
  float: left; }

.form-label {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.5em; }

.submit-button {
  float: left; }

/* Media queries for adjusting type sizes, etc.
-------------------------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {
  input[type=email] {
    width: 500px; }
  .mc-field-group,
  .submit-button {
    float: none; }
  input[type=submit] {
    margin-top: 6px; } }

@media only screen and (max-width: 600px) {
  input[type=email],
  input[type=submit] {
    font-size: 20px; }
  input[type=email] {
    width: 80%; }
  input[type=submit] {
    /* font-size: 20px; */ } }

@media only screen and (max-width: 450px) {
  input[type=email],
  input[type=submit] {
    font-size: 17px; }
  input[type=email] {
    width: 80%; } }

/*# sourceMappingURL=machine.css.map */